#autre_content
{
width:100%;
padding:0;
margin:0;
  }
#content
{
margin-left: auto;
margin-bottom:1em;
width:100%;
border:none;
  }
#the_page
{
width:100%;
border:none;
  }
body {
min-width: inherit;
width:100%;
}
#cache
{
padding:5px
}
#close_button
{
	margin-right:10px;
	margin-left:90%;
}
#table_content
{
	padding:15px;
}
#section_up
{
	padding-top:5px;
	text-align:right;
}
#section_up A
{
	text-decoration:none;
	border:none;
}