#autre_content
{
	width:100%;
	padding:0;
	margin:0;
	text-align:left;
  }
#content
{
	margin-left: auto;
	margin-bottom:1em;
	width:100%;
	border:none;
	min-height:inherit;
  }
#the_page
{
	width:100%;
	border:none;
}
body {
	min-width: inherit;
	width:100%;
	padding:0px;
}
#cache
{
	padding:5px
}
#close_button
{
	margin-right:10px;
	margin-left:90%;
}
#table_content
{
	padding:15px;
	margin:auto;
}
#section_up
{
	padding-top:5px;
	text-align:right;
}
#section_up A
{
	text-decoration:none;
	border:none;
}