#autre_content {
	width:100%;
	padding:0;
	margin:0;
}
#content {
	margin-left: auto;
	margin-bottom:1em;
	width:100%;
	border:none;
}
#the_page {
	width:100%;
	border:none;
}
body {
	min-width: inherit;
	width:100%;
}
#cache {
	padding:5px
}
#close_button {
	display:block;
	float:right;
}
#table_content {
	padding:15px;
}
#section_up {
	padding-top:5px;
	text-align:right;
}
#section_up A {
	text-decoration:none;
	border:none;
}
#copyright {
	margin-left:5%;
	margin-right:5%;
}
BODY, H1, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
  color:#e0e0e0;
}
/* links */
A, INPUT.rateButton {
  color: #FFFFFF;
}

A:hover {
  color: #CCCCCC;
}
/* backgrounds */
BODY, #autre_content, #content, .content, #the_page {
	background:none!important;
}
/* backgrounds */
BODY, #content {
  background-color: #414141!important;
}

/* backgrounds menu */

#section_up_right {
	background-image: url(images/c2_haut_droit.jpg);
	background-position:bottom left;
	background-repeat:no-repeat;
	width:15px;
	 height:32px;
}
#section_up_left {
	background-image: url(images/c2_haut_gauche.jpg);
	background-position:bottom right;
	background-repeat:no-repeat;
	width:15px;
	 height:32px;
}
#section_up {
 background-image: url(images/c2_haut_milieu.jpg);
 background-position:bottom;
 background-repeat:repeat-x;
	 height:32px;
}

#section_in {
	background-color:#676767;
}
#section_left {
 background-image: url(images/c2_milieu_gauche.jpg);
 background-position:right;
 background-repeat:repeat-y;
	width:15px;
}
 #section_right {
 background-image: url(images/c2_milieu_droit.jpg);
 background-position:left;
 background-repeat:repeat-y;
	width:15px;
	background-color:transparent;
}
#section_bottom_right {
 background-image: url(images/c2_bas_droit.jpg);
 background-position:top left;
 background-repeat:no-repeat;
 width:15px;
 height:15px;
}
#section_bottom_left {
 background-image: url(images/c2_bas_gauche.jpg);
 background-position:top right;
 background-repeat:no-repeat;
 width:15px;
 height:15px;
}
#section_bottom {
 background-image: url(images/c2_bas_milieu.jpg);
 background-position:top;
 background-repeat:repeat-x;
  height:15px;
}
